<mat-toolbar color="white" class='mat-elevation-z1'>
    <img style="width: 150px;" src="../../../assets/logo.svg"/>
  <span class="example-spacer"></span>
  </mat-toolbar>
<div class="center">
  <img style="width: 75px;" src="../../assets/bluebase.svg" />

</div>
<div style="text-align: center;">
    <pre>Hi there! Sign up or log in below.</pre>
</div>
<div fxLayout="column" fxLayoutAlign="space-around center" style="padding:10px;">
  <a href={{backendUrl}}>
    <button style="padding: 8px 16px;" mat-raised-button>
      <span><img style="width: 18px; padding-right: 8px;" src="../../assets/google.svg" /></span>
       Sign in with Google
    </button>
  </a>

</div>