<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    id="drawer"
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
  >
    <mat-toolbar class="mat-elevation-z1" color="white"></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="toDashboard()">Dashboard</a>
      <a mat-list-item (click)="toApiKeyPage()">Settings</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-main-toolbar></app-main-toolbar>
    <div style="padding: 10px;"><router-outlet></router-outlet></div>
  </mat-sidenav-content>
</mat-sidenav-container>
